# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
.venv/
env/
venv/

# VS Code / IDE
.vscode/
.idea/

# dotenv
.env

# macOS system files
.DS_Store

# Node modules
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code / IDE
.vscode/
.idea/

# Mac system files
.DS_Store
